<div class="container">
  <h3>Hello <%= @user.email %>'s</h3> <br>
  <h4>Here is your list of itineraries:</h4>

  <div class="myItineraries">
    <% @events.each do |i| %>
      <%= i.date %>
      <% i.funcheaps.each do |f| %>
        <%= f.name %><br>
      <% end %>
      <% i.restaurants.each do |r| %>
        <%= r.name %><br>
      <% end %>
    <% end %>
  </div>
</div>