<tr>
  <td><div class="resultName">{{name}}<br>{{full_address}}<br><img src="{{rating_img}}"/></div><div class="addToButton"><button type="button" data-id={{id}} class="addToItinerary btn btn-default btn-xs">Add to Itinerary</button></div></td> 
</tr>