/*styling for home page*/
body{
  padding-bottom: 40px;
}

/* ##### BEGIN styling for NavBar ##### */

/* ----- modified Bootstrap CSS ------------------------------------- */

.navbar-default .navbar-brand {
  color: #777;
}

.navbar-default .navbar-nav > li > a {
  font-family: 'Gochi Hand', cursive;
  font-size: 30px;
  color: white;
  font-weight: normal;
  margin-top: 30px;
}

.navbar-default .navbar-nav>li>a:hover {
color: #62C861;
}


/*----- end Bootstrap CSS --------------------------------------------- */

.nav-contain {
  min-height: 80px;
  background-color: #0c1125;
}

.brand-container {
  width: 450px;
}

.wingman-logo {
  display: inline-block;
  margin-top: 20px;
  font-family: 'Monoton', cursive;
  font-size: 50px;
  color: white;
}

.signup-btn {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 40px;
}

.signin-field {
  display: inline-block;
  width: 200px;
  height: 34px;
  padding: 8px;
  border: 2px solid gray;
  margin-top: 30px;
  margin-left: 10px;
  border-radius: 4px;
  font-size: 14px;
}

.signin-btn {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
}

/* ##### END styling for NavBar ##### */

.dayfilter {
  display: inline-block;
  float: left;
}

.date-field-label {
  display: inline-block;
  font-size: 20px;
}

.date-field {
  display: inline-block;
  width: 150px;
  height: 35px;
  padding: 8px;
  border: none;
  border-radius: 4px;
  font-size: 20px;
}

.itinerary {
  /*border: solid;*/
  text-align: right;
  float: right;
}

.rightdiv {
  border: solid;
  height: 550px;
}

.results {
  border: solid;
  height: 507px;
  overflow: scroll;
}

table {
  /*border: solid;*/
}

.addToButton {
  text-align: right;
}

#map-canvas {
  border: solid;
  height: 550px;
}

/*styling for signin/singup pages*/
#sign_in_page {
  text-align: center;
}

#sign_up_page {
  text-align: center;
}

.alert{
  text-align: center;
}

.modal-body {
  padding: 20px;
}

/* ##### STYLING FOR YELP QUERY FIELDS ##### */

.input-field {
  display: inline-block;
  width: 280px;
  height: 35px;
  padding: 8px;
  margin-top: 10px;
  border: 1px solid gray;
  border-radius: 4px;
  font-size: 12px;
}

.select-field-label {
  display: inline-block;
  width: 150px;
  margin-top: 10px;
  font-size: 16px;
}

.select-field {
  display: inline-block;
  width: 100px;
  margin-top: 10px;
  padding: 4px;
  font-size: 20px;
}

.yelp-search-btn {
  display: inline-block;
  width: 250px;
  margin-top: 10px;
}

.btn-search {
  display: inline-block;
}

.spinwheel-holder {
  display:inline-block;
  position: relative;
  text-align: center;
}

