.dayfilter {
  text-align: right;
  padding-top: 8px;
}

.itinerary {
  /*border: solid;*/
  text-align: right;
}

.rightdiv {
  border: solid;
  height: 550px;
}

.results {
  border: solid;
  height: 507px;
  overflow: scroll;
}

table {
  /*border: solid;*/
}

.addToButton {
  text-align: right;
}

#map-canvas {
  border: solid;
  height: 550px;
}

/*styling for signin page*/
#sign_in_page {
  text-align: center;
}

.alert{
  text-align: center;
}

