/*styling for home page*/
body{
  padding-bottom: 100px;
}

/* ##### BEGIN styling for NavBar ##### */

/* ----- modified Bootstrap CSS ------------------------------------- */

.navbar-default .navbar-brand {
  color: #777;
}

.navbar-default .navbar-nav > li > a {
  font-family: 'Gochi Hand', cursive;
  font-size: 30px;
  color: white;
  font-weight: normal;
  margin-top: 30px;
}

.navbar-default .navbar-nav>li>a:hover {
color: #62C861;
}

.navbar-default .navbar-nav>.open>a:focus {
color: #555;
background-color: #62C861;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
color: white;
text-decoration: none;
background-color: #62C861;
}

.navbar-nav>li>.dropdown-menu {
margin-top: 0;
border-top-right-radius: 0;
border-top-left-radius: 0;
background-color: #62C861;
color: #555;
}


/*----- end Bootstrap CSS --------------------------------------------- */

.nav-contain {
  min-height: 80px;
  background-color: #0c1125;
}

.brand-container {
  width: 450px;
}

.wingman-logo {
  display: inline-block;
  margin-top: 20px;
  font-family: 'Monoton', cursive;
  font-size: 50px;
  color: white;
}

.signup-btn {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 40px;
}

.signin-field {
  display: inline-block;
  width: 200px;
  height: 34px;
  padding: 8px;
  border: 2px solid gray;
  margin-top: 30px;
  margin-left: 10px;
  border-radius: 4px;
  font-size: 14px;
}

.signin-btn {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
}

/* ##### END styling for NavBar ##### */

.dayfilter {
  display: inline-block;
  float: left;
}

.date-field-label {
  display: inline-block;
  font-size: 20px;
}

.date-field {
  display: inline-block;
  width: 150px;
  height: 35px;
  padding: 8px;
  border: none;
  border-radius: 4px;
  font-size: 20px;
}

.itinerary {
  /*border: solid;*/
  text-align: right;
  float: right;
}

.search-header {
  color: black;
}

.leftdiv {
  height: 500px;
  margin: 0;
}

.rightdiv {
  height: 500px;
  margin: 0;
}

.results {
  border: 1px solid gray;
  height: 550px;
  margin-bottom: 0px;
  overflow: scroll;
  border-radius: 8px 0 0 8px;
}

table {
  /*border: solid;*/
}

/* -------- BEGIN Bootstrap Table --------- */
.table-striped>tbody>tr:nth-child(odd)>td {
  background-color: rgba(122,166,217, 0.25)
}
/* -------- END Bootstrap Table --------- */

.restaurant-img {
  height: 20%;
  width: 20%;
  margin-right: 10px;
}

.addToButton {
  text-align: right;
}

#map-canvas {
  border: 1px solid gray;
  height: 550px;
  border-radius: 0 8px 8px 0;
}

/*styling for signin/singup pages*/
#sign_in_page {
  text-align: center;
}

#sign_up_page {
  text-align: center;
}

.alert{
  text-align: center;
}

.modal-body {
  padding: 20px;
}

/* Styling for profile page */
#profile_page {
  background-image: url(../images/sfcity.jpg);
}
/* ##### STYLING FOR YELP QUERY FIELDS ##### */

.input-field {
  display: inline-block;
  width: 280px;
  height: 35px;
  padding: 8px;
  margin-top: 10px;
  border: 1px solid gray;
  border-radius: 4px;
  font-size: 12px;
}

.select-field-label {
  display: inline-block;
  width: 150px;
  margin-top: 10px;
  font-size: 16px;
}

.select-field {
  display: inline-block;
  width: 100px;
  margin-top: 10px;
  padding: 4px;
  font-size: 20px;
}

.yelp-search-btn {
  display: inline-block;
  width: 250px;
  margin-top: 10px;
}

.btn-search {
  display: inline-block;
}

.spinwheel-holder {
  display:inline-block;
  position: relative;
  text-align: center;
}

/* ---------- BEGIN styling for devise views ------------ */

.devise-pages-body {
  background: url(http://i.imgur.com/0KhcPr9.jpg) no-repeat center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.signin-contain {
  margin: 0 auto;
  max-width: 425px;
}

.signin-password {
  display: inline-block;
  width: 260px;
  height: 38px;
  padding: 8px;
  margin: 5px;
  border: 1px solid gray;
  border-radius: 3px;
  font-size: 20px;
}

.home-signin {
  float: right;
  text-align: center;
  width: 400px;
  border: 2px solid gray;
  border-radius: 5px;
  margin: 10px;
  background-color: rgba(255,255,255,0.75);
}

.devise-input-field {
  display: inline-block;
  width: 380px;
  height: 35px;
  padding: 8px;
  margin: 5px;
  border: 1px solid gray;
  border-radius: 3px;
  font-size: 20px;
}

.pw-btn {
  margin: 5px;
}

.pw-signupin {
  display: inline-block;
  margin: 5px;
  float: right;
}

.home-signin {
  float: right;
  text-align: center;
  width: 400px;
  border: 2px solid gray;
  border-radius: 5px;
  margin: 10px;
  background-color: rgba(255,255,255,0.75);
}

.home-signup {
  float: right;
  text-align: center;
  width: 400px;
  border: 2px solid gray;
  border-radius: 5px;
  margin: 10px;
  background-color: rgba(255,255,255,0.75);
}

.signin-contain {
  margin: 0 auto;
  max-width: 425px;
}

.signup-contain {
  margin: 0 auto;
  max-width: 425px;
}

.edit-profile-contain {
  width: 425px;
  margin: 0 auto;
  border: 2px solid gray;
  border-radius: 2px;
  background-color: rgba(255,255,255,0.75);
}

.border {
  border: 2px solid gray;
  border-radius: 2px;
}
.new-form-btn {
  display: inline-block;
  float: right;
  margin: 5px;
}

.devise-signin-btn {
  display: inline-block;
  width: 106px;
  margin: 3px;
  font-size: 18px;
}

.devise-signup-btn {
  font-size: 18px;
}

