<div class="container">

<!-- Top div for search filters -->
  <div class="row">
    <!-- Day filter -->
    <div class="dayfilter col-sm-4 col-sm-offset-1">
      <%= form_for(@itinerary) do |f| %>
        <%= f.label "Date:" %>
        <%= f.text_field :date, value: Time.now.strftime("%m/%d/%Y") %>
      <% end %> 
    </div><!-- /.col-sm-4 -->
    <!-- Activity filter -->
    <div class="col-sm-4">
      <div class="input-group">
        <input type="text" class="form-control" value="Events">
        <div class="input-group-btn">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Select Activity <span class="caret"></span></button>
          <ul class="dropdown-menu pull-right">
            <li><a href="#">Events</a></li>
            <li><a href="#">Restuarants</a></li>
            <li><a href="#">Concerts</a></li>
          </ul>
        </div><!-- /btn-group -->
      </div><!-- /input-group -->
    </div><!-- /.col-sm-4 -->
    <div class="col-sm-2">
      <div class="itinerary">
        <a href="#" data-toggle="modal" data-target="#itineraryModal">View Itinerary</a>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="itineraryModal" tabindex="-1" role="dialog" aria-labelledby="itineraryModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="itineraryModalLabel">Itinerary</h4>
            </div>
            <div class="modal-body">
              <!-- append each event/restaurant here -->
              <div id="myItinerary">
                ...
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div><!-- /Modal -->
    </div>
  </div><!-- /.row -->

  <br>
  <br>

  <!-- Main div for results list and map -->
  <div class="row">
    <div class="rightdiv col-sm-4">
      <h4>Search Results:</h4>
      <div class="results">
        
      </div>
    </div>
    <div class="col-sm-8">
      <div id="map-canvas"></div>
    </div>
  </div>

</div>

<!--
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 50; padding: 50 }
      #map-canvas { height: 100% }
    </style> -->
   



   



